@font-face {
    font-family: 'ArtifaktElement';
    src: url('https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Regular.woff2') format('woff2'),
      url('https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
html, body {
    font-family: 'ArtifaktElement', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    background-color: rgb(43,43,43);
    color: rgb(220,220,220);
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    height: 52px;
    width: calc(100% - 10px);
}

.main {
    background-color: rgb(43,43,43);
    color: rgb(220,220,220);
    display: flex;
    height: calc(100% - 72px);
    width: 100%;
}

.left {
    height: 100%;
    width: 300px;
}

.right {
    height: 100%;
    width: calc(100% - 300px);
}

.viewer-container {
    height: 100%;
    width: 100%;
}

.viewer {
    height: 100%;
    position: relative;
    width: 100%;
}

.list-title {
    font-weight: bold;
    padding: 10px;
}

.list-container {
    list-style-type: none;
    padding: 0 10px;
}

.list-container > li {
    cursor: pointer;
    margin: 4px;
    padding: 4px;
    transition: background-color 0.3s;
}

.list-container > li:hover {
    background-color: rgb(60,60,60);
}

.selected {
    background-color: rgb(80,80,80);
}

.levels-container {
    height: 30%;
}

.rooms-container {
    height: calc(70% - 140px);
}

.room-list-container {
    overflow-y: auto;
    height: calc(100% - 50px);
}

.display-options {
    height: 20px;
    margin: 10px 0;
}

.legend {
    flex-direction: column;
    height: 100px;
}

.legend-item {
    display: flex;
    flex-direction: row;
    height: 20px;
    padding: 4px;
}

.legend-color {
    height: 18px;
    margin: 0 4px 0 0;
    width: 40px;
}

.legend-text {
    font-size: 12px;
}

.room-details {
    background-color: rgba(60,60,60,0.8);
    position: absolute;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    width: fit-content;
    z-index: 10;
}

.room-value {
    margin: 0 4px 0 0;
}

.room-value-row:has(.room-value:empty) {
    display: none;
}

.room-name {
    font-size: 15px;
    font-weight: bold;
}

.waypoint {
    background-color: rgb(112,172,223);
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    margin: 0 0 0 6px;
    width: 10px;
}

.waypoint-thumbnail {
    background-color: black;
    border: solid 1px rgb(220,220,220);
    display: none;
    height: 180px;
    left: 80px;
    margin: 2px;
    position: absolute;
    top: 12px;
    width: 320px;
    z-index: 15;
}

.waypoint-thumbnail > img {
    height: 180px;
    width: 320px;
}
