@font-face {
    font-family: 'ArtifaktElement';
    src: url('https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Regular.woff2') format('woff2'),
      url('https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'ArtifaktElement', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    background-color: rgb(43,43,43);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    height: 52px;
    width: calc(100% - 10px);
}

.main {
    display: flex;
    height: calc(100% - 72px);
    width: 100%;
}

.left {
    height: 100%;
    width: 300px;
}

.right {
    height: 100%;
    width: calc(100% - 300px);
}

.viewer-container {
    height: 100%;
    width: 100%;
}

.viewer {
    height: 100%;
    position: relative;
    width: 100%;
}

.list-title {
    font-weight: bold;
    padding: 10px;
}

.list-container {
    list-style-type: none;
    padding: 0 10px;
}

.list-container > li {
    cursor: pointer;
    margin: 4px;
    padding: 4px;
    transition: background-color 0.3s;
}

.list-container > li:hover {
    background-color: rgb(242, 242, 242);
}

.selected {
    background-color: rgb(232, 232, 232);
}

.levels-container {
    height: 30%;
}

.rooms-container {
    height: calc(70% - 140px);
}

.room-list-container {
    overflow-y: auto;
    height: calc(100% - 50px);
}

.display-options {
    height: 20px;
    margin: 10px 0;
}

.legend {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.legend-item {
    display: flex;
    flex-direction: row;
    height: 20px;
    padding: 4px;
}

.legend-color {
    height: 18px;
    margin: 0 4px 0 0;
    width: 40px;
}

.legend-text {
    font-size: 12px;
}

.room-details {
    background-color: rgba(43, 43, 43, 0.1);
    position: absolute;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    width: fit-content;
    z-index: 10;
}

.room-value {
    margin: 0 4px 0 0;
}

.room-value-row:has(.room-value:empty) {
    display: none;
}

.room-name {
    font-size: 15px;
    font-weight: bold;
}

.chat-container {
    background-color: rgba(43, 43, 43, 0.1);
    bottom: 10px;
    height: 360px;
    padding: 4px;
    position: absolute;
    right: 10px;
    width: 300px;
    z-index: 10;
}

.chat-title {
    font-size: 16px;
    font-weight: bold;
    margin: 2px 2px 8px 2px;
}

.chat-prompts {
    margin: 0 2px 4px 2px;
}

.chat-message {
    height: 166px;
    margin: 0 0 8px 0;
    overflow-y: auto;
}

.chat-message-prompt {
    background-color: rgba(40, 40, 40, 0.1);
    margin: 2px 20px 8px 2px;
    padding: 4px;
}

.chat-message-response {
    background-color: rgba(240, 240, 240, 0.8);
    margin: 2px 2px 8px 20px;
    padding: 4px;
}

.chat-prompt-container {
    align-items: flex-end;
    display: flex;
    height: 126px;
}

.chat-prompt-container > button {
    height: 24px;
}

.chat-prompt-container > textarea {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
