@font-face {
    font-family: 'ArtifaktElement';
    src: url('https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Regular.woff2') format('woff2'),
      url('https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
html, body {
    font-family: 'ArtifaktElement';
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    background-color: rgb(43,43,43);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    height: 52px;
    width: calc(100% - 10px);
}

.main {
    display: flex;
    height: calc(100% - 72px);
    width: 100%;
}

.left {
    height: 100%;
    width: 300px;
}

.right {
    height: 100%;
    width: calc(100% - 300px);
}

.viewer-container {
    height: 100%;
    width: 100%;
}

.viewer {
    height: 100%;
    position: relative;
    width: 100%;
}

.list-title {
    font-weight: bold;
    padding: 10px;
}

.list-container {
    list-style-type: none;
    padding: 0 10px;
}

.list-container > li {
    cursor: pointer;
    margin: 4px;
    padding: 4px;
    transition: background-color 0.3s;
}

.list-container > li:hover {
    background-color: #f2f2f2;
}

.list-container > div:hover {
    background-color: #e8e8e8
}

.levels-container {
    height: 30%;
}

.rooms-container {
    height: calc(70% - 140px);
}

.room-list-container {
    overflow-y: auto;
    height: calc(100% - 50px);
}

.display-options {
    height: 20px;
    margin: 10px 0 10px 0;
}

.legend {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.legend-item {
    display: flex;
    flex-direction: row;
    height: 20px;
    padding: 4px;
}

.legend-color {
    height: 18px;
    margin: 0 4px 0 0;
    width: 40px;
}

.legend-text {
    font-size: 12px;
}

.room-details {
    background-color: rgba(43,43,43, 0.1);
    position: absolute;
    height: fit-content;
    margin: 10px;
    padding: 4px;
    width: 160px;
    z-index: 10;
}

.room-value {
    margin: 0 4px 0 0;
}

.room-name {
    font-size: 15px;
    font-weight: bold;
}
